/*This is the CSS file for the personal landing page. 
It defines the styles for the header, main content, and footer sections of the page. */

.header {
    
}
.hero{

}
.portfolio{

}
.phrase {
    background-color: #E5E7EB;
    justify-content: center;
    display: flex;
}
.cta{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.footer{

}

p {
    font-family: 'Roboto';
}


/*Here is the start of the style of the child elements */

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer-content {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #1F2937;
}

.cta-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    padding: 20px;
    width: auto;
    height: 150px;
    flex-direction: row;
}
.button-cta {
    color: #ffffff;
    background-color: #3882f6;
    border-color: #ffffff;
    margin: 20px;
    border-radius: 8px;
    width: 200px;
}

.button-p {
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bold;
    font-size: 15px;
}

.div-cta{
    margin: 0;
}

.phrase-italic {
    font-style: italic;
    text-align: center;
}
.phrase-bold {
    font-weight: bold;
    text-align: right;
}

.div-phrase {
    align-items: center;
    flex: 1 1 auto;
    justify-content: center;
    margin: 50px;
}