/*This is the CSS file for the personal landing page. 
It defines the styles for the header, main content, and footer sections of the page. */

.header {
    
}
.hero{

}
.portfolio{

}
.phrase {

}
.cta{

}

.footer{

}


/*Here is the start of the style of the child elements */

.copyright {
    text-align: center;
    color: white;
    height: auto;
}
.footer-content {
    width: auto;
    height: 100px;
    background-color: #1F2937;
}